.App {
  text-align: center;
  margin: 5px 25px 5px 25px;
}

h1.header {
  color: darkorange;
}

.demo-box {
  position: relative;
  padding: 10px;
  height: 500px;
  border: 3px dotted lightsteelblue;
}

.chart-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
