.App {
  text-align: center;
  margin: 1rem 5rem 1rem 5rem;
}

h1.header {
  color: darkorange;
}

.demo-box {
  position: relative;
  padding: 1rem;
  height: 55rem;
  border: .4rem dotted lightsteelblue;
}

.chart-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
